<!DOCTYPE html>
<html>
    <head>
        <title>RSS Client</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=2048">
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="scripts/libs/modernizr-2.5.3.min.js"> </script>
    </head>
    <body>
        <nav></nav>
        <aside>
            <ul id="feed"></ul>
        </aside>
        <section>
            <article id="detail"></article>
        </section>

        <script type="text/javascript" src="scripts/libs/jquery-1.7.1.min.js"> </script>
        <script type="text/javascript" src="scripts/libs/underscore.min.js"> </script>
        <script type="text/javascript" src="scripts/libs/moment.min.js"> </script>
        <script type="text/javascript" src="scripts/libs/backbone-min.js"></script>
        <script type="text/javascript" src="scripts/utils.js"> </script>
        <script type="text/javascript" src="scripts/weber.js"> </script>
        <script type="text/javascript" src="scripts/models/post.js"> </script>
        <script type="text/javascript" src="scripts/models/feed.js"> </script>
        <script type="text/javascript" src="scripts/views/postDetailView.js"> </script>
        <script type="text/javascript" src="scripts/views/feedView.js"> </script>
        
        <script type="text/template" id="postDetailTemplate">
            <div class="postDetail">
                <header>   
                    <p class="byline">
                        <time datetime="<%= publishedDateMeta%>"><%= publishedDateDisplay%> CDT</time> by <%= author%>
                    </p>
                    <h1><%= title%></h1>
                </header>
                <%= content%>
            </div>
        </script>

        <script type="text/template" id="postSummaryTemplate">
            <li class="postSummary <% isSelected ? print('current') : '' %>" data-id=<%= id%>>
                <header>
                    <time datetime="<%= publishedDateMeta%>"><%= publishedDateDisplay%></time>
                    <h3><%= title%></h3>
                </header>
                <p><%= contentSnippet %></p>
            </li>
        </script>

        <script type="text/javascript">
            $(function () {
                Weber.utils.ajax.getFeed("http://feeds.feedburner.com/LosTechies", function (feedData) {
                    var feed = new Weber.Feed(feedData);
                    feed.posts.models[0].setSelected(true);
                    
                    var feedView = new Weber.FeedView({ model: feed });
                    feedView.render();

                    // Load up a test feed for now until I can wire up some events
                    var postDetailView = new Weber.PostDetailView({ model: feed });
                    postDetailView.render();
                });
            });
        </script>
        
    </body>
</html>